/* Profile Section */
#profile{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-picture{
  width: clamp(200px, 30%, 400px);
  height: auto;
}
.profile-picture img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-text-links{
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-text p:first-child {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}
.profile-text p:nth-child(2) {
  font-size: clamp(2.5rem, 3.5vw, 3rem);
}
.profile-text p:nth-child(3) {
  font-size: clamp(1.5rem, 2vw, 2.0rem);
}

.profile-links{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.profile-link-img{
  width: clamp(2rem, 3vw, 3rem);
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}



/* About Section */
#about{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* total width: 450+20+700= 1170px with 20px margin*/
.about-me-container{
  width: 40%;
  max-width: 450px;
  height: 70vh;
  min-height: 600px;
  max-height: 700px;

  margin:0 10px 0 20px;
  
  background-color: white;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  /* Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.10);

  transition: 
    transform 0.2s ease-out, 
    box-shadow 0.2s ease-out, 
    backdrop-filter 0.2s ease-out, 
    border-color 0.2s ease-out;
}
.about-me-container:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 48px rgba(0,0,0,0.12);
}

.about-me-image{
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-image img{
  width: 65%;
  max-width: 250px;
  height: auto;
  border-radius: 15px;
}

.about-me-text{
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  overflow: hidden;
}

.about-me-text p{
  font-size: 15px;
  margin: 35px;
}

.about-school-container{
  width: 60%;
  max-width: 700px;
  height: 70vh;
  min-height: 600px;
  max-height: 700px;

  margin: 0 20px 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-hs-container{
  width: 100%;
  height: 50%;

  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  /* Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.10);

  transition: 
    transform 0.3s ease-out, 
    box-shadow 0.3s ease-out, 
    backdrop-filter 0.3s ease-out, 
    border-color 0.3s ease-out;
}
.about-hs-container:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 48px rgba(0,0,0,0.12);
  cursor: pointer;
}

.about-uni-container{
  width: 100%;
  height: 50%;

  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black; 
  background-color: white;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  /* Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.10);

  transition: 
    transform 0.2s ease-out, 
    box-shadow 0.2s ease-out, 
    backdrop-filter 0.2s ease-out, 
    border-color 0.2s ease-out;
}
.about-uni-container:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 48px rgba(0,0,0,0.12);
  cursor: pointer;
}

.about-school-logo{
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}
.about-school-logo img{
  width: 90%;
  height: auto;
}
#ics-logo{
  scale: 0.75;
}
#sbu-logo{
  scale: 1.1;
}

.about-school-text{
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column; 
}
.school-name-text{
  font-size: 15px;
  margin: 20px 10px 0 10px;
}
.school-year-text{
  font-size: 15px;
  margin: 0 10px 30px 10px;
}
.school-about-text{
  font-size: 14px;
  margin: 0 10px 5px 10px;
}


/* Experience Section */
#experience{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-container{
  width: 100%;
  max-width: 1170px;
  height: 75vh;
  min-height: 600px;
  max-height: 700px;

  margin:0 20px 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: white;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  /* Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.10);
}

.experience-swiper{
  width: 90%;
  height: 90%; 
  padding: 15px;
}

.experience-swiper-card{
  width: 35% !important;
  height: 90%;
}

.experience-card{
  width: 100%;
  height: 100%;

  text-decoration: none;
  color: black; 
  background-color: white;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  /* Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.10);

  transition: 
    transform 0.2s ease-out, 
    box-shadow 0.2s ease-out, 
    backdrop-filter 0.2s ease-out, 
    border-color 0.2s ease-out;
}
.experience-card:hover {
  
}

.experience-card-image{
  width:100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-card-image img{
  width: 80%;
  max-width: 300px;
  height: auto;
}

.experience-card-text{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* projects section */
#projects{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* contact section */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container{
  width: 506px;
  height: 320px;

  background-color: white;
  background-image: url('/gilhokim.png');
  background-size: cover;
  border-radius: 15px;
}

.contact-btn-container{
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items:first baseline;
  justify-content: end;
}
.contact-btn-container a{
  text-decoration: none;
  color: black;
}

.contact-download-btn{
  all: unset;
  cursor: pointer;

  width: 45px;
  height: 45px;
  margin: 10px 0px;

  font-size: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.contact-download-btn:hover{
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 
  inset 0 1px 0 rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  transition: all 0.4s ease;
}

.contact-close-btn{
  all: unset;
  cursor: pointer;

  width: 45px;
  height: 45px;
  margin: 10px 10px 10px 0px;

  font-size: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.contact-close-btn:hover{
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 
  inset 0 1px 0 rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  transition: all 0.4s ease;
}

/**
  * Mobile View
  */
@media screen and (max-width: 900px) {

  /* Profile */
  #profile{
    flex-direction: column;
    height: 100vh;
  }

  .profile-picture{
    width: clamp(200px, 30%, 300px);
  }
  
  .profile-text-links{
    width: 100%;
    margin-top: 1rem;
  }
  
  .profile-text{
    width: 100%;
    height: auto;
    align-items: center;
  }
  .profile-text p:first-child {
   font-size: clamp(1.5rem, 3vw, 2.5rem);
  }
  .profile-text p:nth-child(2) {
    font-size: clamp(2rem, 3.5vw, 3rem);
  }
  .profile-text p:nth-child(3) {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  
  .profile-links{
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile-link-img{
    width: clamp(2rem, 5vw, 3rem);
    margin: 0.5rem;
  }



  /* About Section */
  #about{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
  }

  .about-me-container{
    width: 80%;
    max-width: 800px;
    height: auto;
    max-height: 700px;
    margin: 100px 0 30px 0;
  }

  .about-school-container{
    width: 80%;
    max-width: 800px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-hs-container, .about-uni-container{
    width: 100%;
    height: auto;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .about-me-text p{
    font-size: 14px;
  }
  .about-school-text p{
    font-size: 14px;
  }

  /* Experience Section */
  .experience-container{
    width: 80%;
    max-width: 1170px;
    height: 40vh;

    max-height: 700px;

    margin:0 20px 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);  /* Safari */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.10);
  }

  .experience-swiper{
    width: 90%;
    height: 80%; 
    padding: 30px;
  }
  .experience-swiper-card{
    width: 100% !important;
    height: 80%;
  }

  /* Contact section */
  .contact-container{
    width: 337px;
    height: 213px;

    background-color: white;
    background-image: url('/gilhokim.png');
    background-size: cover;
    border-radius: 15px;
  }

}
  
