/* Default */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: rgb(251,251,252);
  font-family: "Poppins", sans-serif; 
}
